<div class="toolbar">
  <div id="rad">
    Radius <span class="radVal">{{strokeWidth}}</span>
    <div id="decRad" class="radControl" (click)="decrementRadius()">-</div>
    <div id="incRad" class="radControl" (click)="incrementRadius()">+</div>
  </div>
  <div id="clear">
    <button class="clear-btn" (click)="clearScreen()">Clear</button>
  </div>
  <div id="colors">
    <div class="swatch" *ngFor="let color of colors; let i = index" [style.background-color]="colors[i]"
      (click)="selectColor(i)" [class.active]="i === selectedColor"></div>
  </div>
  <div id="erase">
    <img class="eraser" (click)="toggleEraser()" src='assets/img/eraser.png'>
  </div>
</div>
<canvas #myCanvas></canvas>