/* You can add global styles to this file, and also import other style files */
body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

.full{
  height: 100vh;
}

body::-webkit-scrollbar {
  width: 1px;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

input{
  color: white !important;
  border-bottom:  1px solid #fafafa !important; 
}

.input-field {
  margin-top: 0rem !important;
}

.input-field .helper-text {
  color:#fafafa;
}

.btn{
  font-weight: 600;
}

.input-field>label{
      color: #fafafa;
}

.w-30{
  width: 30%;
}